todolistsimple.app/**/*.dylib filter=lfs diff=lfs merge=lfs -text
todolistsimple.app/Frameworks/**/*.framework filter=lfs diff=lfs merge=lfs -text
todolistsimple.app/Frameworks/React.framework/React filter=lfs diff=lfs merge=lfs -text
todolistsimple.app/todolistsimple.debug.dylib filter=lfs diff=lfs merge=lfs -text
